.ingredient-group {

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#cheeses {

}

.validationError {
    color: red;
}

#another {
    display: block;
    width: 80%;
    text-align: right;
}